Package: fogbot
Version: 1.0.0
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Mcleod <robert@penguinpower.co.nz>
Essential: no
Homepage: https://github.com/penguinpower.co.nz>
Installed-Size: 13958
Depends: auditd
Description: A chatbot to help detect intrusions
  This is a longer description
  that takes up multiple lines
